
<div *ngIf="workStation">
    <h2><span jhiTranslate="mmsApp.workStation.detail.title">Work Station</span> {{workStation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStation.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" [value]="workStation.name" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStation.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName" [value]="workStation.shortName" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStation.ip" for="field_ip">IP</label>
            <input type="text" class="form-control" name="ip" id="field_ip" [value]="workStation.ip" readonly/>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work-station/'+ workStation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
