
<div *ngIf="manufacturingOrder">
    <h2><span jhiTranslate="mmsApp.manufacturingOrder.detail.title">Manufacturing Order</span> {{manufacturingOrder.code}} - ({{manufacturingOrderTimeToFinishDays}} days - {{manufacturingOrderTimeToFinishHours}} hours - {{manufacturingOrderTimeToFinishMinutes}} minutes)</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.manufacturingOrder.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code" [value]="manufacturingOrder.code" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.manufacturingOrder.orderDate" for="field_orderDate">Order Date</label>
            <input type="text" class="form-control" name="orderDate" id="field_orderDate" [value]="manufacturingOrder.orderDate | date : 'short' " readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.manufacturingOrder.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status" [value]="manufacturingOrder.status | status" readonly/>
        </div>
    </div>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.manufacturingOrder.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description" [value]="manufacturingOrder.description" readonly/>
        </div>
    </div>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <div *ngFor="let product of products ;trackBy: trackId; let productPosition = index;">
            <div class="modal-header">
                <h5 class="modal-title" jhiTranslate="mmsApp.manufacturingOrder.products.product">Product {{index+1}}</h5>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity: {{product.quantity}}</label>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="mmsApp.manufacturingOrder.supplies.supply">Supply</span></th>
                    <th><span jhiTranslate="mmsApp.manufacturingOrder.supplies.atributes">Attributes</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let supply of product.supplies ;trackBy: trackId; let supplyPosition = index;" >
                    <td>
                        {{supply.name}}
                    </td>
                    <td>
                        <span *ngFor="let supplyTypeAttr of supply?.supplyType?.supplyTypeAttrs ;trackBy: trackId">
                            <strong>{{supplyTypeAttr.name}}:</strong> {{getValueForSupplyTypeAttr(product, supply.supplyType, supplyTypeAttr)}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
