
<div *ngIf="employee">
    <h2><span jhiTranslate="mmsApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.employee.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" [value]="employee.name" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.employee.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName" [value]="employee.lastName" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.employee.userType" for="field_user">User Type</label>
            <input type="text" class="form-control" name="user" id="field_user" [value]="employee.user?.firstName" readonly/>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
