<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySupplyTypeAttrValueLabel" jhiTranslate="sfi3App.supplyTypeAttrValue.home.createOrEditLabel">Create or edit a Supply Type Attr Value</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!supplyTypeAttrValue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="supplyTypeAttrValue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.name" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="supplyTypeAttrValue.value" required/>
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="supplyTypeAttrValue.product"  required>
                <option *ngIf="!editForm.value.product" [ngValue]="null" selected></option>
                <option [ngValue]="productOption.id === supplyTypeAttrValue.product?.id ? supplyTypeAttrValue.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.product?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.supply" for="field_supply">Supply</label>
            <select class="form-control" id="field_supply" name="supply" [(ngModel)]="supplyTypeAttrValue.supply"  required>
                <option *ngIf="!editForm.value.supply" [ngValue]="null" selected></option>
                <option [ngValue]="supplyOption.id === supplyTypeAttrValue.supply?.id ? supplyTypeAttrValue.supply : supplyOption" *ngFor="let supplyOption of supplies; trackBy: trackSupplyById">{{supplyOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.supply?.dirty && editForm.controls.supply?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.supply?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.supplyType" for="field_supplyType">Supply Type</label>
            <select class="form-control" id="field_supplyType" name="supplyType" [(ngModel)]="supplyTypeAttrValue.supplyType"  required>
                <option *ngIf="!editForm.value.supplyType" [ngValue]="null" selected></option>
                <option [ngValue]="supplyTypeOption.id === supplyTypeAttrValue.supplyType?.id ? supplyTypeAttrValue.supplyType : supplyTypeOption" *ngFor="let supplyTypeOption of supplytypes; trackBy: trackSupplyTypeById">{{supplyTypeOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.supplyType?.dirty && editForm.controls.supplyType?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.supplyType?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.supplyTypeAttr" for="field_supplyTypeAttr">Supply Type Attr</label>
            <select class="form-control" id="field_supplyTypeAttr" name="supplyTypeAttr" [(ngModel)]="supplyTypeAttrValue.supplyTypeAttr"  required>
                <option *ngIf="!editForm.value.supplyTypeAttr" [ngValue]="null" selected></option>
                <option [ngValue]="supplyTypeAttrOption.id === supplyTypeAttrValue.supplyTypeAttr?.id ? supplyTypeAttrValue.supplyTypeAttr : supplyTypeAttrOption" *ngFor="let supplyTypeAttrOption of supplytypeattrs; trackBy: trackSupplyTypeAttrById">{{supplyTypeAttrOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.supplyTypeAttr?.dirty && editForm.controls.supplyTypeAttr?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.supplyTypeAttr?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi3App.supplyTypeAttrValue.manufacturingOrder" for="field_manufacturingOrder">Manufacturing Order</label>
            <select class="form-control" id="field_manufacturingOrder" name="manufacturingOrder" [(ngModel)]="supplyTypeAttrValue.manufacturingOrder"  required>
                <option *ngIf="!editForm.value.manufacturingOrder" [ngValue]="null" selected></option>
                <option [ngValue]="manufacturingOrderOption.id === supplyTypeAttrValue.manufacturingOrder?.id ? supplyTypeAttrValue.manufacturingOrder : manufacturingOrderOption" *ngFor="let manufacturingOrderOption of manufacturingorders; trackBy: trackManufacturingOrderById">{{manufacturingOrderOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.manufacturingOrder?.dirty && editForm.controls.manufacturingOrder?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.manufacturingOrder?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
