<div>
    <h2>
        <span jhiTranslate="mmsApp.workStationConfig.home.title">Work Station Configs</span>
        <button class="btn btn-primary float-right jh-create-entity create-work-station-config" [routerLink]="['/', { outlets: { popup: ['work-station-config-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mmsApp.workStationConfig.home.createLabel">
            Create new Work Station Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workStationConfigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="mmsApp.workStationConfig.line">Line</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.first">First</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.last">Last</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.prevWorkStation">Prev Work Station</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.workStation">Work Station</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.nextWorkStation">Next Work Station</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.supplyType">Supply Type</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.employee">Employee</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.row">Row</span></th>
            <th><span jhiTranslate="mmsApp.workStationConfig.col">Col</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workStationConfig of workStationConfigs | sort : ['line.name','row','col'] ;trackBy: trackId">
                <td>
                    <div *ngIf="workStationConfig.line">
                        <a [routerLink]="['../line', workStationConfig.line?.id ]" >{{workStationConfig.line?.name}}</a>
                    </div>
                </td>
                <td><i *ngIf="workStationConfig.first" class="fa fa-check"></i></td>
                <td><i *ngIf="workStationConfig.last" class="fa fa-check"></i></td>
                <td>
                    <span *ngFor="let prevWorkStation of workStationConfig.prevWorkStations; let last = last">
                            <a class="form-control-static" [routerLink]="['../work-station', prevWorkStation?.id ]">{{prevWorkStation.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="workStationConfig.workStation">
                        <a [routerLink]="['../work-station', workStationConfig.workStation?.id ]" >{{workStationConfig.workStation?.name}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let nextWorkStation of workStationConfig.nextWorkStations; let last = last">
                            <a class="form-control-static" [routerLink]="['../work-station', nextWorkStation?.id ]">{{nextWorkStation.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let supplyType of workStationConfig.supplyTypes; let last = last">
                            <a class="form-control-static" [routerLink]="['../supply-type', supplyType?.id ]">{{supplyType.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let employee of workStationConfig.employees; let last = last">
                            <a class="form-control-static" [routerLink]="['../employee', employee?.id ]">{{employee.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>{{workStationConfig.row}}</td>
                <td>{{workStationConfig.col}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../work-station-config', workStationConfig.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-station-config/'+ workStationConfig.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-station-config/'+ workStationConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
