
<div *ngIf="workStationConfig">
    <h2><span jhiTranslate="mmsApp.workStationConfig.detail.title">Work Station Config</span> {{workStationConfig.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.line" for="field_line">Line</label>
            <input type="text" class="form-control" name="line" id="field_line" [value]="workStationConfig.line?.name" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.first" for="field_first">First</label>
            <input type="text" class="form-control" name="first" id="field_first" [value]="workStationConfig.first" readonly/>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.last" for="field_last">Last</label>
            <input type="text" class="form-control" name="last" id="field_last" [value]="workStationConfig.last" readonly/>
        </div>
    </div>
    <div class='row'>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.workStation" for="field_workStation">Work Station</label>
            <div *ngIf="workStationConfig.workStation">
                <input type="text" class="form-control" name="workStation" id="field_last" [value]="workStationConfig.workStation?.name" readonly/>
            </div>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.prevWorkStation" for="field_prevWorkStation">Prev Work Station</label>
            <div class="form-control" readonly>
                <span *ngFor="let prevWorkStation of workStationConfig.prevWorkStations; let last = last">
                    <a [routerLink]="['/supply-type-attr', prevWorkStation?.id ]">{{prevWorkStation?.name}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.nextWorkStation" for="field_nextWorkStation">Next Work Station</label>
            <div class="form-control" readonly>
                <span *ngFor="let nextWorkStation of workStationConfig.nextWorkStations; let last = last">
                    <a [routerLink]="['/supply-type-attr', nextWorkStation?.id ]">{{nextWorkStation?.name}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.supplyType" for="field_supplyType">Supply Type</label>
            <div class="form-control" readonly>
                <span *ngFor="let supplyType of workStationConfig.supplyTypes; let last = last">
                    <a [routerLink]="['/supply-type-attr', supplyType?.id ]">{{supplyType?.name}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.employee" for="field_employee">Employee</label>
            <div class="form-control" readonly>
                <span *ngFor="let employee of workStationConfig.employees; let last = last">
                    <a [routerLink]="['/supply-type-attr', employee?.id ]">{{employee?.name}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </div>
        <div class="col form-group"></div>
        <div class="col form-group"></div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.row" for="field_row">Row</label>
            <div *ngIf="workStationConfig.row">
                <input type="text" class="form-control" name="row" id="field_row" [value]="workStationConfig.row" readonly/>
            </div>
        </div>
        <div class="col form-group">
            <label class="form-control-label" jhiTranslate="mmsApp.workStationConfig.col" for="field_col">Col</label>
            <div *ngIf="workStationConfig.col">
                <input type="text" class="form-control" name="col" id="field_col" [value]="workStationConfig.col" readonly/>
            </div>
        </div>
        <div class="col form-group"></div>
        <div class="col form-group"></div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work-station-config/'+ workStationConfig.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
