<div>
    <h2>
        <span jhiTranslate="mmsApp.tracer.home.title">Tracers</span>
        <button class="btn btn-primary float-right jh-create-entity create-tracer" [routerLink]="['/', { outlets: { popup: ['tracer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mmsApp.tracer.home.createLabel">
            Create new Tracer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tracers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="mmsApp.tracer.code">Code</span></th>
            <th><span jhiTranslate="mmsApp.tracer.inTime">In Time</span></th>
            <th><span jhiTranslate="mmsApp.tracer.startTime">Start Time</span></th>
            <th><span jhiTranslate="mmsApp.tracer.endTime">End Time</span></th>
            <th><span jhiTranslate="mmsApp.tracer.time">Time</span></th>
            <th><span jhiTranslate="mmsApp.tracer.status">Status</span></th>
            <th><span jhiTranslate="mmsApp.tracer.workStationConfig">Work Station Config</span></th>
            <th><span jhiTranslate="mmsApp.tracer.manufacturingOrder">Manufacturing Order</span></th>
            <th><span jhiTranslate="mmsApp.tracer.line">Line</span></th>
            <th><span jhiTranslate="mmsApp.tracer.workStation">Work Station</span></th>
            <th><span jhiTranslate="mmsApp.tracer.product">Product</span></th>
            <th><span jhiTranslate="mmsApp.tracer.supply">Supply</span></th>
            <th><span jhiTranslate="mmsApp.tracer.supplyTypeAttrValues">Supply Type Attribute Values</span></th>
            <th><span jhiTranslate="mmsApp.tracer.prevWorkStation">Prev Work Station</span></th>
            <th><span jhiTranslate="mmsApp.tracer.nextWorkStation">Next Work Station</span></th>
            <th><span jhiTranslate="mmsApp.tracer.nextTracer">Next Tracer</span></th>
            <th><span jhiTranslate="mmsApp.tracer.prevTracer">Prev Tracer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tracer of tracers ;trackBy: trackId">
                <td>{{tracer.code}}</td>
                <td>{{tracer.inTime | date:'medium'}}</td>
                <td>{{tracer.startTime | date:'medium'}}</td>
                <td>{{tracer.endTime | date:'medium'}}</td>
                <td>{{tracer.time}}</td>
                <td>{{tracer.status}}</td>
                <td>
                    <div *ngIf="tracer.workStationConfig">
                        <a [routerLink]="['../work-station-config', tracer.workStationConfig?.id ]" >{{tracer.workStationConfig?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.manufacturingOrder">
                        <a [routerLink]="['../manufacturing-order', tracer.manufacturingOrder?.id ]" >{{tracer.manufacturingOrder?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.line">
                        <a [routerLink]="['../line', tracer.line?.id ]" >{{tracer.line?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.workStation">
                        <a [routerLink]="['../work-station', tracer.workStation?.id ]" >{{tracer.workStation?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.product">
                        <a [routerLink]="['../product', tracer.product?.id ]" >{{tracer.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.supply">
                        <a [routerLink]="['../supply', tracer.supply?.id ]" >{{tracer.supply?.name}}</a>
                    </div>
                </td>
                <td>
                    
                </td>
                <td>
                    <div *ngIf="tracer.prevWorkStation">
                        <a [routerLink]="['../work-station', tracer.prevWorkStation?.id ]" >{{tracer.prevWorkStation?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.nextWorkStation">
                        <a [routerLink]="['../work-station', tracer.nextWorkStation?.id ]" >{{tracer.nextWorkStation?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.nextTracer">
                        <a [routerLink]="['../tracer', tracer.nextTracer?.id ]" >{{tracer.nextTracer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.prevTracer">
                        <a [routerLink]="['../tracer', tracer.prevTracer?.id ]" >{{tracer.prevTracer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tracer', tracer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracer/'+ tracer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracer/'+ tracer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
