<form name="editForm" role="form" novalidate (ngSubmit)="send()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTracerLabel" >Start Tracer: {{tracer.code}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" jhiTranslate="mmsApp.tracer.inTime" for="field_inTime">In Time</label>
                <div class="d-flex">
                    <input id="field_inTime" type="datetime-local" class="form-control" name="inTime" [(ngModel)]="tracer.inTime"
                    readonly="readonly"  />
                </div>
            </div>
            <div class="col form-group">
                <label class="form-control-label" jhiTranslate="mmsApp.tracer.startTime" for="field_startTime">Start Time</label>
                <div class="d-flex">
                    <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [value]="tracer.startTime" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" jhiTranslate="mmsApp.tracer.manufacturingOrder" for="field_manufacturingOrder">Manufacturing Order</label>
                <input type="text" class="form-control" name="manufacturingOrder" id="field_manufacturingOrder"
                    [value]="tracer.manufacturingOrder.id" readonly="readonly" />
            </div>
            <div class="col form-group" *ngIf="tracer.supply">
                <label class="form-control-label" jhiTranslate="mmsApp.tracer.supply" for="field_supply">Supply</label>
                <input type="text" class="form-control" name="supply" id="supply"
                    [value]="tracer.supply.name" readonly="readonly" />
            </div>
        </div>
        <div class="row" *ngIf="tracer.supplyTypeAttrValues" >
            <div class="col form-group" *ngFor="let supplyTypeAttrValue of tracer.supplyTypeAttrValues ;trackBy: trackId">
                <label class="form-control-label" for="field_{{supplyTypeAttrValue.supplyTypeAttr.name}}">{{supplyTypeAttrValue.supplyTypeAttr.name}}</label>
                <input type="text" class="form-control" name="{{supplyTypeAttrValue.supplyTypeAttr.name}}" id="field_{{supplyTypeAttrValue.supplyTypeAttr.name}}"
                    [value]="supplyTypeAttrValue.value" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSending" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="mmsApp.tracer.start.finish">Finish</span>
        </button>
    </div>
</form>
