<div>
    <h2>
        <span jhiTranslate="sfi3App.supplyTypeAttr.home.title">Supply Type Attrs</span>
        <button class="btn btn-primary float-right jh-create-entity create-supply-type-attr" [routerLink]="['/', { outlets: { popup: ['supply-type-attr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi3App.supplyTypeAttr.home.createLabel">
            Create new Supply Type Attr
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyTypeAttrs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sfi3App.supplyTypeAttr.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplyTypeAttr of supplyTypeAttrs ;trackBy: trackId">
                <td><a [routerLink]="['../supply-type-attr', supplyTypeAttr.id ]">{{supplyTypeAttr.id}}</a></td>
                <td>{{supplyTypeAttr.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../supply-type-attr', supplyTypeAttr.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supply-type-attr/'+ supplyTypeAttr.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supply-type-attr/'+ supplyTypeAttr.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
